<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div id="tableContainer">
</div>
<button id="addRowButton">Ad d Row</button>
</body>
<script>
$(document).ready(function() {
    loadRows();
    function addRow() {
        let rowNumber = $('#tableContainer .row').length + 1;
        let newRowHtml = `
            <div class="row">
                <button class="deleteButton">Delete</button>
                <div id="loadingIcon${rowNumber}" style="display: none;" class="loadingIcon"></div>
            </div>
        `;

        // Append the new row to the container
        $('#tableContainer').append(newRowHtml);
    }

    $('#addRowButton').click(function() {
        addRow();
        saveRows();
    });

    $('#tableContainer').on('click', '.deleteButton', function() {
        let confirmation = confirm("Are you sure you want to delete this row?");
        if (confirmation) {
          $(this).closest('.row').remove();
          saveRows();
        }
  });

    function saveRows() {
        let rowsHtml = $('#tableContainer').html();
        localStorage.setItem('rowsHtml', rowsHtml);
    }

    // Function to load rows from localStorage
    function loadRows() {
        let savedRows = localStorage.getItem('rowsHtml');
        if (savedRows) {
          $('#tableContainer').html(savedRows);
        }
    }

});

</script>
</html>
